.container{
    background-color: rgba(255,255,255,255);
    width: 80%;
    height: 98vh;
    border: 3px solid black;
    margin-left: 3rem;
}

.nav-bar{
    display: flex;
    margin-top: 3rem;
}

.sneakers{
    margin-left: 5rem;   
}

.nav-links{
    margin-left: 3rem;
    display: flex;
    gap:10px;
}

.nav-icons{
    margin-left: 48rem;
    display: flex;
    gap: 3rem;
    width: 100px;
    height: 40px;
}

.underline{
    margin-top: 3rem;
    border-bottom: 1px solid #828588;
    opacity: 0.5;
}

.contents{
    display: flex;
    width: 98%;
    height: 83vh;
    border: 2px solid yellow;
}

.content1{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50vh;
    border: 2px solid red;
    margin-left: 10rem;
}

.smallerimages{
    margin-top: 3rem;
    border: 2px solid green;
    width: 100%;
    height: 28%;
    display: flex;
}

.content2{
    width: 60%;
    height: 83vh;
    border: 2px solid aqua;
    margin-left: 8rem;
}

.underline1{
    border: 1px solid #c7cad1;
    margin-top: -24.5px;
    width: 7%;
}


